<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\Structure\Element\Group">
        <plugin name="brand_mapping_dynamic_config_fields"
                type="Zendesk\Zendesk\Plugin\Config\Model\Config\Structure\Element\Group" />
    </type>
</config>